/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/joven/[slug]/style.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.text-outline {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.05);
    color: transparent;
}
